.team-container {
  display: flex;
  background-image: linear-gradient(to bottom, #080E3A, #313359,  #FFF);

  color: #050a30;
  
}
.teamimages {
  width: 40vw;
  
  display: flex;
  justify-content: center;
  align-items: center;
  
  
}

.imagestar{
  display: flex;
   max-width: 230px;
   flex-wrap: wrap;
   justify-content: center;
  
}

.hexagon-container {
  width: 100px;
  height: 100px;
  position: relative;
  margin-right: 15px; 
}

.hexagon {
  width: 100%;
  padding-bottom: 115%; /* Controls the height of the hexagon */
  position: absolute;
  background-color: #3498db; /* Set your desired background color */
  clip-path: polygon(50% 0%, 100% 25%, 100% 75%, 50% 100%, 0% 75%, 0% 25%);
  overflow: hidden;
}

.hexagon img {
  width: 100%;
  height: auto;
  position: absolute;
  top: 0;
  left: 0;
  
}

.team{
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60vw;
  height: 90vh;
  border-radius: 64% 0% 0% 0% / 75% 8% 10% 20% ;
  background-color: #FFF;
}

.team h2{
  text-align: center;
}


