<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Gallery</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/Gallery.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script
      src="https://kit.fontawesome.com/d747ff6920.js"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <div class="logo-image">
            <img src="/images/logo_light.jpeg" alt="ligisa logo" />
          </div>
          <div class="logo-text">
            <span class="ligisa-txt">Ligisa</span>
            <span class="youth-network-txt">Youth Network</span>
          </div>
        </div>
        <button class="nav-toggle" aria-label="toggle navigation">
          <span class="hamburger"></span>
        </button>

        <div class="navbar-links">
          <ul class="nav__list">
            <li>
              <a href="index.html" class="nav__link">Home</a>
            </li>
            <li>
              <a href="about.html" class="nav__link">About</a>
            </li>
            <li>
              <a href="clubs.html" class="nav__link">Clubs</a>
            </li>
            <li>
              <a href="contact.html" class="nav__link current">Contact</a>
            </li>
            <li>
              <a href="gallery.html" class="nav__link">Gallery</a>
            </li>
            <li>
              <a href="theTeam.html" class="nav__link">The team</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <section class="galleryHero">
      <h3>Our Youth in Action: Projects That Inspire</h3>
      <p>
        Welcome to the gallery of Ligisa, where we showcase the energy,
        creativity, and dedication of young minds making a difference. Through
        various projects, our members work together to uplift, support, and
        transform our community. From social outreach to environmental
        initiatives, each endeavor reflects the passion and vision of youth
        committed to creating a brighter future. Explore their journeys, and be
        inspired by the impact they are making!
      </p>
    </section>

    <section class="photo-grid">
      <div
        class="card card-wide"
        style="background-image: url('/images/gallery.images/project1.jpeg')"
      >
        
      </div>
      <div
        class="card card-tall"
        style="background-image: url('/images/gallery.images/project2.jpeg')"
      >
        
      </div>
      <div
        class="card card-wide"
        style="background-image: url('/images/gallery.images/project3.jpeg')"
      >
        
      </div>
      <div
        class="card"
        style="background-image: url('/images/gallery.images/project4.jpeg')"
      >
        
      </div>
      <div
        class="card card-tall"
        style="background-image: url('/images/gallery.images/project5.jpeg')"
      >
        
      </div>
      <div
        class="card"
        style="background-image: url('/images/gallery.images/project6.jpeg')"
      >
        
      </div>
      <div
        class="card card-tall"
        style="background-image: url('/images/gallery.images/project7.jpg')"
      >
        
      </div>
      <div
        class="card"
        style="background-image: url('/images/gallery.images/project8.jpg')"
      >
        
      </div>
      <div
        class="card card-wide"
        style="background-image: url('/images/gallery.images/project9.jpeg')"
      >
      
      </div>
    </section>

    <script src="/main.js"></script>
    <script src="/footer.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/firebase/7.14.1-0/firebase.js"></script>
    <script src="/firebase.js"></script>
  </body>
</html>
