<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ligisa Youth Netwok</title>
    <link rel="stylesheet" href="/style.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script
      src="https://kit.fontawesome.com/d747ff6920.js"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <div class="logo-image">
            <img src="/images/logo_light.jpeg" alt="ligisa logo" />
          </div>
          <div class="logo-text">
            <span class="ligisa-txt">Ligisa</span>
            <span class="youth-network-txt">Youth Network</span>
          </div>
        </div>
        <button class="nav-toggle" aria-label="toggle navigation">
          <span class="hamburger"></span>
        </button>

        <div class="navbar-links">
          <ul class="nav__list">
            <li>
              <a href="index.html" class="nav__link">Home</a>
            </li>
            <li>
              <a href="about.html" class="nav__link">About</a>
            </li>
            <li>
              <a href="clubs.html" class="nav__link">Clubs</a>
            </li>
            <li>
              <a href="contact.html" class="nav__link">Contact</a>
            </li>
            <li>
              <a href="gallery.html" class="nav__link">Gallery</a>
            </li>
            <li>
              <a href="theTeam.html" class="nav__link">The team</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>
    <div class="hero home">
      <div class="container">
        <span class="group-name">Ligisa</span>
        <span class="motto">Empowered To Excell</span>
        <br />
        <!-- <button class="btn-learn-more btn">Learn More</button> -->
      </div>
    </div>

    <section class="background">
      <h2>Who We Are</h2>
      <p>
        Ligisa Youth Network is a community-based organization founded in the
        year 2021 to address problems affecting the youth in Homa Bay County in
        three focus areas including <strong>health</strong>,
        <strong>education</strong> and<strong> livelihood.</strong>
      </p>
      <button class="btn-learn-more btn">Learn More</button>
    </section>

    <section class="health">
      <div class="health-div">
        <h2>Health</h2>
        <div>
          <p>
            Sickle Cell Disease, substance abuse, sexually transmitted
            infections and early pregnancy are health challenges affecting many
            youths in Homabay County. They not only cause immediate lowering of
            quality of life but also set the youth on a downward spiralling
            path. By creating awareness of these conditions in the community,
            engaging in community health promotion programs and facilitating
            access to information on available support, the organization aims to
            mitigate their impact.
          </p>
        </div>
        <div class="health-flex">
          <div class="health-flex-item">
            <img src="/images/no-drugs.jpg" alt="" />
            <p>Create awareness on drug and substance abuse</p>
          </div>
          <div class="health-flex-item">
            <img src="/images/sexual-health.PNG" alt="" />
            <p>Create awareness on sexually transmitted infections</p>
          </div>
          <div class="health-flex-item">
            <img src="/images/early-pregnancy.jpg" alt="" />
            <p>
              Create awareness on early pregnancy in Homabay County and its
              impact at a personal and community level.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="education">
      <div class="education-div">
        <h2>Education</h2>
        <div>
          <p>
            There is a significant number of youths who are unable to attain
            basic education in Homabay County secondary to a high school dropout
            rate. Reasons for dropping out include early pregnancies, lack of
            school fees and lack of role models. Ligisa Youth Network supports
            youth to pursue education both formally and informally to levels
            they desire. <br />
            Projects run by the organization include:
          </p>
        </div>
        <div class="projects-grid">
          <div class="education-div-item">
            <img src="/images/comp-literacy.jpg" alt="" />
            <h4>Computer literacy program</h4>
            <p>
              This exposes the youth to innovations by their peers across the
              world and inspires a change in perspective. Additionally, it
              increases access to scholarships sourced online.
            </p>
          </div>
          <div class="education-div-item">
            <img src="/images/library-services.jpg" alt="" />
            <h4>Promoting access to library services</h4>
            <p>
              This provides a safe space for studying. It also enables access to
              a wide range of books which broaden the perspective of the youth.
            </p>
          </div>
          <div class="education-div-item">
            <img src="/images/comp-courses.jpg" alt="" />
            <h4>Computer based courses</h4>
            <p>
              Through online learning platforms, the youth broaden their skills
              which boosts their employability and is of advantage to youths who
              have limited access to finance for their studies.
            </p>
          </div>
          <div class="education-div-item">
            <img src="/images/lifeskill.jpg" alt="" />
            <h4>Life skills training</h4>
            <p>
              This is essential to assisting youth making successful transition
              from school to work life. It is also recommended by WHO in helping
              to reduce early pregnancy.
            </p>
          </div>
          <div class="education-div-item">
            <img src="/images/career-mentorship.jpg" alt="" />
            <h4>Career mentorship programs</h4>
            <p>
              Through this program the youth can make informed choices on their
              career path. This will expose them to various careers which are
              available and help in choosing ones that are best suited to their
              gifts and talents.
            </p>
          </div>
        </div>
      </div>
    </section>

    <section class="livelihood">
      <div class="livelihood-div">
        <h2>Livelihood</h2>
        <div>
          <p>
            The youth in Homabay County are greatly affected by poverty. This
            has far reached consequences like promoting early sexual debut,
            dropping out of school and drug and substance abuse. The impact is
            inflated with limited employment opportunities for the youth in the
            county. Through personal finance classes Ligisa Youth Network hopes
            to help change the mindset of the youth to create opportunities for
            self-employment.
          </p>
          <p>
            Secondly through investment classes they can sustain financial
            stability in the long run. The organization will also educate the
            youth on how to start and run businesses as well as how to source
            for seed capital. Programs to be run under this department include: <br>
            Personal finance classes <br>

            Investment classes <br>
            Debt management  <br>
            Basic bookkeeping  

          
          </p>
        </div>
        
      </div>
    </section>
    <section class="getting-involved">
      <div class="getting-involved-div">
        <div>
          <h2>Getting Involed</h2>
          <p class="getting-involved-p">
            Ligisa Youth Network is run by a team of fantastic staff and
            volunteers. Job vacancies and volunteer recruitment are great
            opportunities to join the team and help out!
          </p>
          <button class="gettingInvolvedBtn btn">More info</button>
        </div>
        <div>
          <img src="/images/getting-involved.jpg" alt="" />
        </div>
      </div>
    </section>

    <section class="supporting-us">
      <div class="supporting-us-div">
        <div>
          <img src="/images/support-us.jpg" alt="" />
        </div>
        <div>
          <h2>Supporting Us</h2>
          <p class="supporting-us-p">
            Want to help out? We are extremely grateful as a community based
            organization for the aid provided through donations, which allow us
            to continue our work towards youth empowerment.
          </p>
          <button class="supportingUsBtn btn">Donations</button>
        </div>
      </div>
    </section>

    <script src="/main.js"></script>
    <script src="/footer.js"></script>
  </body>
</html>
