<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Ligisa Youth Netwok</title>
    <link rel="stylesheet" href="/style.css" />
    <link rel="stylesheet" href="/Gallery.css" />

    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <script
      src="https://kit.fontawesome.com/d747ff6920.js"
      crossorigin="anonymous"
    ></script>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon" />
  </head>
  <body>
    <header>
      <nav>
        <div class="logo">
          <div class="logo-image">
            <img src="/images/logo_light.jpeg" alt="ligisa logo" />
          </div>
          <div class="logo-text">
            <span class="ligisa-txt">Ligisa</span>
            <span class="youth-network-txt">Youth Network</span>
          </div>
        </div>
        <button class="nav-toggle" aria-label="toggle navigation">
          <span class="hamburger"></span>
        </button>

        <div class="navbar-links">
          <ul class="nav__list">
            <li>
              <a href="index.html" class="nav__link current">Home</a>
            </li>
            <li>
              <a href="about.html" class="nav__link">About</a>
            </li>
            <li>
              <a href="clubs.html" class="nav__link">Clubs</a>
            </li>
            <li>
              <a href="contact.html" class="nav__link">Contact</a>
            </li>
            <li>
              <a href="gallery.html" class="nav__link">Gallery</a>
            </li>
            <li>
              <a href="theTeam.html" class="nav__link">The team</a>
            </li>
          </ul>
        </div>
      </nav>
    </header>

    <div>
      <div class="team-container">
        <div class="teamimages">
          <div class="profileImage">
            <img src="/images/profileImages/amy.jpg" alt="team1" />
          </div>
          <div class="profileImage">
            <img src="/images/profileImages/bill.jpg" alt="team1" />
          </div>
          <div class="profileImage div3">
            <img src="/images/profileImages/nigel.jpg" alt="team1" />
          </div>
        </div>

        <div class="team">
          <div>
            <h2>Meet The Team</h2>
            <p>
              Ligisa Youth network is run by a team of fantastic staff and
              volunteers
            </p>
          </div>
        </div>
      </div>
    </div>

    <section class="teamMembers">
      <div class="teamGrid">
        <div class="teamCard">
          <img src="/images/profileImages/javancrop.jpg" alt="" />
          <span class="name">Javan Malowa</span>
          <span class="role">Secretary</span>
          <p>
            Javan Otieno Malowa is a Diploma graduate in Applied Horticulture
            from Masinde Muliro University of Science and Technology, set to
            graduate in December 2024. With practical experience gained from an
            internship at VEGPRO Gorge company in Naivasha, Javan has honed
            skills in grafting avocado varieties, scouting crops such as pak
            choi and broccoli, and exploring pack house operations.
          </p>
        </div>
        <div class="teamCard">
          <img src="/images/profileImages/Rene.jpg" alt="" />
          <span class="name">Rene Harrizon</span>
          <span class="role">Treasurer</span>
          <p>
            Rene is passionate about technology and empowering youth with
            essential digital skills. Committed to bridging the digital divide,
            Rene helps young people thrive in today’s tech-driven world through
            education and innovation.
          </p>
        </div>
        <div class="teamCard">
          <img src="/images/profileImages/felix.png" alt="" />
          <span class="name">Felix Kidera</span>
          <span class="role">Treasurer</span>
          <p>
            Felix is highly organized and results-driven professional with
            strong expertise in management. He is adept at balancing multiple
            priorities while maintaining a focus on delivering high-quality
            outcomes. He possess strong problem-solving skills, effective
            communication abilities, and a leadership style that fosters
            collaboration and team development.
          </p>
        </div>
        <div class="teamCard">
          <img src="/images/profileImages/ivy.jpg" alt="" />
          <span class="name">Ivy Zenani</span>
          <span class="role">Treasurer</span>
          <p>
            A passionate advocate for food and nutrition security, she is
            motivated by the belief in the fundamental right to food and is
            deeply inspired by the Food Justice Movement. She works to promote
            agrifood systems resilience and reduce inequities in local
            communities. Her vision is to bridge the gaps between food security,
            diet quality, andequity.
          </p>
        </div>
      </div>
    </section>
    <script src="/main.js"></script>
    <script src="/footer.js"></script>
  </body>
</html>
